<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 text-center">
      <%= link_to(new_question_path) do %>
        <p class="btn-card">Post a question</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <div class="type<%= " active" if !params.has_key?(:category_id) %>">
        <%= link_to "All", questions_path %>
      </div>
      <% @categories.sort_by(&:id).first(5).each do |category| %>
        <div class="type<%= " active" if params.has_key?(:category_id) && category.id == @category_id.id%>">
          <%= link_to category.name.capitalize, questions_path(category_id: category.id) %>
        </div>
      <% end %>
      <div class="type">
        <%= link_to "More", categories_path %>
      </div>
    </div>
  </div>
</div>
<!-- display just 4 first schools -->
<div class="container">
  <div class="row">
    <% @schools.sort_by(&:position).first(4).each do |school| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= render 'shared/card_school', school: school %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 text-center">
      <%= link_to(schools_path) do %>
        <p class="btn-card schools_path">See all schools</p>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @questions.sort_by(&:created_at).reverse.each do |question| %>
      <div class="col-xs-12">
        <%= render "shared/question_card", question: question %>
        <% Response.where(question_id: question.id).sort_by(&:created_at).each do |response| %>
          <% if response.id.odd? %>
            <div class="col-xs-12 col-xs-offset-5">
              <div class="response">
                <p style="font-size: 10px; color: #EC9B3B;">Response. <%= School.find(response.school_id).title.capitalize %></p>
                <p><%= response.description %></p>
                <div class="line"></div>
                <div class="response-upvote">
                  <%= link_to (responses_upvote_path(response)), method: :post do %>
                    <i class="fas fa-thumbs-up"></i>
                  <% end %>
                  <%= response.upvote %>
                </div>
                <div class="response-delete">
                  <% if policy(response).destroy? %>
                    <%= link_to question_response_path(question, response), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                <% end %>
                </div>
                <div class="response-owner-username">
                  <%= Profile.find(response.profile_id).username.capitalize %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="response">
              <p style="font-size: 10px; color: #EC9B3B;">Response. <%= School.find(response.school_id).title.capitalize %></p>
              <p><%= response.description %></p>
              <div class="line"></div>
              <div class="response-upvote">
                <%= link_to (responses_upvote_path(response)), method: :post do %>
                  <i class="fas fa-thumbs-up"></i>
                <% end %>
                <%= response.upvote %>
              </div>
              <div class="response-delete">
                <% if policy(response).destroy? %>
                  <%= link_to question_response_path(question, response), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash"></i>
                    <% end %>
                <% end %>
              </div>
              <div class="response-owner-username">
                <%= Profile.find(response.profile_id).username.capitalize %>
              </div>
            </div>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
