<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 text-center">
      <%= link_to(new_question_path) do %>
        <p class="btn-card">Post a question</p>
      <% end %>
    </div>
  </div>
</div>
<div class="clash-card__unit-name text-center" style="color: white; margin-top: 100px;">
  AGORA
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <%= link_to (questions_path) do %>
        <div class="type">
          All
        </div>
      <% end %>
      <%= link_to (questions_index_debate_path) do %>
        <div class="type selected">
          Debate
        </div>
      <% end %>
      <%= link_to (questions_index_lifestyle_path) do %>
        <div class="type">
          Lifestyle
        </div>
      <% end %>
      <%= link_to (questions_index_trouble_path) do %>
        <div class="type">
          Trouble
        </div>
      <% end %>
      <%= link_to (questions_index_politic_path) do %>
        <div class="type">
          Politic
        </div>
      <% end %>
      <%= link_to (questions_index_ethic_path) do %>
        <div class="type">
          Ethic
        </div>
      <% end %>
      <%= link_to (questions_index_ecology_path) do %>
        <div class="type">
          Ecology
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
    <div class="row">
      <% @schools.sort_by(&:created_at).each do |school| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= render 'shared/card_school', school: school %>
        </div>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="row">
    <% @questions.where(question_type: "debate").sort_by(&:created_at).reverse.each do |question| %>
      <div class="col-xs-12">
        <%= render "shared/question_card", question: question %>
        <% Response.where(question_id: question.id).sort_by(&:created_at).each do |response| %>
          <% if response.id.odd? %>
            <div class="col-xs-12 col-xs-offset-5">
              <div class="response">
                <%= response.description %>
                <div class="line"></div>
                <div class="response-detail-item-1">
                  <%= response.upvote %>
                  <%= link_to (responses_upvote_path(response)), method: :post do %>
                    <div class="arrow-up-response"></div>
                  <% end %>
                </div>
                <div class="response-detail-item-2">
                  <% if response.profile.user_id == current_user.id %>
                    <%= link_to question_response_path(question, response), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <p>&#x1F5D1;</p>
                    <% end %>
                <% end %>
                </div>
              </div>
            </div>
          <% else %>
            <div class="response">
              <%= response.description %>
              <div class="line"></div>
              <div class="response-detail-item-1">
                <%= response.upvote %>
                <%= link_to (responses_upvote_path(response)), method: :post do %>
                  <div class="arrow-up-response"></div>
                <% end %>
              </div>
              <div class="response-detail-item-2">
                <% if response.profile.user_id == current_user.id %>
                  <%= link_to question_response_path(question, response), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <p>&#x1F5D1;</p>
                    <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  function addSelected(e) {
    if (e.propertyName !== 'selected') return;
    e.target.classList.add('selected');
  }
  var types = document.querySelectorAll('.type');
  types.forEach(type => type.addEventListener('click', addSelected));
</script>
