<div class="clash-card__unit-name text-center" style="color: white; margin-top: 100px;">
  AGORA
</div>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="question-form">
      <%= simple_form_for(@question, :html => {:class => 'form-inline' }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :description, class: "question-form-item", placeholder: 'Post a question', label: false %>
        <%= f.input :question_type, label: false, collection: ["debate", "lifestyle", "trouble", "politic", "ethic", "ecological"], multi: false, creatable: true, size: 2, input_html: { class: "question-form-item" } %>
        <%= f.button :submit,  'Add question', class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
    <div class="row">
      <% @schools.each do |school| %>
        <div class="col-xs-12 col-sm-6 col-md-3">
          <%= render 'shared/card_school', school: school %>
        </div>
      <% end %>
    </div>
</div>
<div class="container">
  <div class="row">
    <% @questions.each do |question| %>
      <div class="col-xs-12">
        <%= render "shared/question_card", question: question %>
        <% Response.where(question_id: question.id).each do |response| %>
          <% if response.id.odd? %>
            <div class="col-xs-12 col-xs-offset-5">
              <div class="response">
                <%= response.description %>
                <div class="line"></div>
                <div class="response-detail-item-1">
                  <%= response.upvote %>
                  <%= link_to (responses_upvote_path(response)), method: :post do %>
                    <div class="arrow-up-response"></div>
                  <% end %>
                </div>
              </div>
            </div>
          <% else %>
          <div class="response">
            <%= response.description %>
            <div class="line"></div>
            <div class="response-detail-item-1">
              <%= response.upvote %>
              <%= link_to (responses_upvote_path(response)), method: :post do %>
                <div class="arrow-up-response"></div>
              <% end %>
            </div>
          </div>
          <% end %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>

