<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 text-center">
      <%= link_to(new_question_path) do %>
        <p class="btn-card">Post a question</p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="type-selection text-center">
      <div class="type<%= " active" if !params.has_key?(:category_id) %>">
        <%= link_to "All", questions_path %>
      </div>
      <% @categories.sort_by(&:id).first(5).each do |category| %>
        <div class="type<%= " active" if params.has_key?(:category_id) && category.id == @category_id.id%>">
          <%= link_to category.name.capitalize, questions_path(category_id: category.id) %>
        </div>
      <% end %>
      <div class="type">
        <%= link_to "More", categories_path %>
      </div>
    </div>
  </div>
</div>
<!-- display just 4 first schools -->
<div class="container">
  <div class="row">
    <% @schools.sort_by(&:position).first(4).each do |school| %>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= render 'shared/card_school', school: school %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-2 col-md-offset-10 text-center">
      <%= link_to(schools_path) do %>
        <i class="fas fa-search-plus" style="color: #204E5F; padding: 20px; padding-left: 90px;"></i>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <% @questions.sort_by(&:created_at).reverse.each do |question| %>
      <div id="question-<%= question.id %>">
        <div class="col-xs-12">
          <%= render "shared/question_card", question: question %>
          <%= render 'responses/form', question: question, response: @response %>
          <div id="responses">
          <% Response.where(question_id: question.id).sort_by(&:created_at).each do |response| %>
            <%= render "responses/show", question: question, response: response %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
