<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="question-form">
      <%= simple_form_for(@question, :html => {:class => 'form-inline' }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :description, class: "question-form-item", placeholder: 'Post a question', label: false %>
        <%= f.input :question_type, label: false, collection: ["debate", "lifestyle", "trouble", "politic", "ethic", "ecology"], multi: false, creatable: true, size: 2, input_html: { class: "question-form-item" } %>
        <%= f.button :submit,  'Add question', class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
