<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="question-form">
      <%= simple_form_for(@question, :html => {:class => 'form-inline' }) do |f| %>
        <%= f.error_notification %>
        <%= f.input :description, class: "question-form-item", placeholder: 'Post a question', label: false %>
        <%= f.select :category_id, options_for_select(Category.all.map{|s|[s.name, s.id]}) %>
        <%= f.button :submit,  'Add question', class: "submit-btn" %>
      <% end %>
    </div>
  </div>
</div>
