
<div class="row">

  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-form card-device text-center">
    <h3 class="title-device">Become citizen!</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :email, class: "title-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "jojo@gmail.com", textholder: 'jojo@gmail.com' %>
      </div>

      <div class="form-group">
        <%= f.label :"password", class: "title-label" %>
        <% if @minimum_password_length %>

        <% end %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label :"Confirmation", class: "title-label" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn submit" %>
      </div>
    <% end %>
    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
  </div>
</div>
