<div class="row">

  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-form card-device new-session text-center">
    <h2 class="title-device">Forgot your password?</h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email, class: "title-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send", class: "btn submit"  %>
        </div>
      <% end %>

    </div>
  </div>
</div>
