<div class="question-card">
  <div class="question-top-card">
    <div class="question-type">
      <% if question.question_type %>
        <p> Question . <%= question.question_type.capitalize %><br></p>
      <% end %>
    </div>
    <p class="question-author">By <%= Profile.find(question.profile_id).username.capitalize %></p>
    <div class="question-description">
      <p> <%= question.description %></p>
    </div>
    <% if question.profile.user_id == current_user.id %>
      <div class="question-delete">
        <%= link_to question_path(question), method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="fas fa-trash" style="color: grey;"></i>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="question-bottom-card">
    <div class="question-detail">
      <%= link_to(new_question_response_path(question)) do %>
        <p class="post-question-btn">&#9997; Post response</p>
      <% end %>
      <div class="question-detail-item-1">
        <%= @responses.where(question_id: question.id).count %>
        <% if @responses.count <= 1 %>
          answer
        <% else %>
          answers
        <% end %>
      </div>
      <div class="question-detail-item-2">
        <%= question.upvote %>
        <%= link_to (questions_upvote_path(question)), method: :post do %>
          <i class="fas fa-thumbs-up"></i>
        <% end %>
      </div>
    </div>
  </div>
</div>




