<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">AG<strong style="color: red">O</strong>RA</h1>
      <p class="text-center"><strong>Defend</strong> your school, <strong>improve</strong> your life!</p>
      <div class="text-center"> <%= image_tag "parthenon.png", height: 150 %></div>
      <p class="text-center banner">Once upon a time Agora, a place where each citizen could debate.  <br>A place where philosophic schools could share their doctrine… <br>Today internet is our Agora.</p>
    </div>
  </div>
</div>
<div style="background-color: white">
  <div class="container">
    <div class="row" >
      <div class="col-md-4 col-xs-12">
        <div class="card">
          <%= image_tag "citizen.png", height: 90, class: "card-img" %>
          <p class="card-item-1 text-center">Become a citizen</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card">
          <%= image_tag "parthenon.png", height: 90, class: "card-img"  %>
          <p class="card-item-2  text-center">Choose a school</p>
        </div>
      </div>
      <div class="col-md-4 col-xs-12">
        <div class="card">
          <%= image_tag "cup.png", height: 90, class: "card-img" %>
          <p class="card-item-3  text-center">Win the world cup</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 offset-md-3">
        <%= link_to (new_user_session_path) do %>
          <p class="navbar-wagon-item navbar-wagon-link become-citizen"><%= image_tag "citizen.png", height: 30, class: "navbar-wagon-item navbar-wagon-link" %> <strong>Become a citizen</strong></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
