<div class="row">

  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-form card-device new-session text-center">
    <h2 class="title-device">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, class: "title-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group">
          <%= f.label :"mot de passe", class: "title-label" %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group check_box">
            <%= f.check_box :remember_me %>
            <%= f.label :"Rester connecté" %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Se connecter", class: "btn submit" %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
