<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <div class="card-form profile-form card-device text-center">
      <p>Add category</p>
      <%= simple_form_for [@category] do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, class: "title-label" %>
        <%= f.input :description, class: "title-label" %>
        <%= f.button :submit, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
